<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气预报</title>
    <style>
      div{
        background: url(./1.gif);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    </style>
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">启迪数字学院</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li @click="qihuanfun(true)"><a href="#">天气预报 <span class="sr-only">(current)</span></a></li>
                            <li @click="qihuanfun(false)"><a href="#">菜谱</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
<!--            天气预报，当hidden==true的时候显示-->
           <div v-if="hidden">
               <div  class="jumu">
                   <div class="jumbotron">
                       <h1>天气预报查询</h1>
                       <p>这是查询天气预报的一个页面</p>
                   </div>
               </div>
               <div class="result">
                   <table class="table table-bordered">
                       <tr>
                           <td>日期</td>
                           <td>风向</td>
                           <td>最高温度</td>
                           <td>最低温度</td>
                           <td>天气</td>
                       </tr>
                       <tr v-for="(item,index) in list">
                           <td>{{ item.date }}</td>
                           <td>{{ item.day.winddirect }}</td>
                           <td>{{ item.day.temphigh }}</td>
                           <td>{{ item.night.templow }}</td>
                           <td><img width="40" :src="'./icon/' + item.day.img + '.png'" alt=""></td>
                       </tr>
                   </table>
               </div>
               <div class="chaxun">
                   <form action="">
                       <div class="form-group">
                           <label for="cityname">输入城市</label>
                           <input type="text" class="form-control" v-model="city" id="cityname" placeholder="柳州">
                       </div>
<!--                       submit在外部有form的时候，会执行自己的默认事件，提交表单-->
                       <button type="button" @click="getWeather" class="btn btn-info">查询</button>
                   </form>
               </div>
           </div>
<!--            菜谱，当hidden==false的时候显示-->

            <div v-if="!hidden">
                <div  class="jumu">
                    <div class="jumbotron">
                        <h1>菜谱大全</h1>
                        <p>这是查询菜谱的一个页面</p>
                    </div>
                </div>
                <div class="result" v-for="(item,index) in list2" style="border-bottom:1px solid gray;margin-top:15px">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" :src="item.pic" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{item.name}}</h4>
                            {{item.content}}
                        </div>
                    </div>
                    <table class="table" style="margin-top:15px;">
                        <tr>
                            <td v-for="(items,indexs) in item.material">
                                {{ items.mname }} <br> {{ items.amount }}
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-md-4" v-for="(items,indexs) in item.process">
                            <div class="thumbnail" style="height:240px;overflow:hidden;">
                                <img :src="items.pic" style="width:200px;height:150px;" alt="...">
                                <div class="caption">
                                    <p style="height:60px;overflow-y: scroll">{{ items.pcontent }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chaxun">
                    <div class="form-group">
                        <label for="keyword">输入关键字</label>
                        <input type="text" class="form-control" v-model="keyword" id="keyword" placeholder="白菜">
                    </div>
                    <div class="form-group">
                        <label for="num">输入数量</label>
                        <input type="text" class="form-control" v-model="num" id="num" placeholder="0">
                    </div>
                    <button type="submit" @click="caipu" class="btn btn-info">查询</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    /*
    *   接口:/getweather
    *
    *   type:get
    *
    *   参数:city=城市名称
    *
    * */
    new Vue({
        el:'#app',
        data:{
            city:'',
            list:null,

            hidden:true,
            keyword:'',
            num:0,
            list2:[]

        },
        methods:{
            getWeather:function(){
                let _this = this;
                axios.get('http://localhost:3000/getweather?city=' +  this.city).then(function (response) {
                    console.log(response.data.result.daily);
                    _this.list = response.data.result.daily
                });

            },
            qihuanfun:function(bool){
                this.hidden = bool;
            },
            caipu:function(){
                let _this = this;
                axios.get('http://localhost:3000/getcaipu?keyword='+ this.keyword +'&num=' +  this.num).then(function (response) {
                    console.log(response.data.result.list);
                    _this.list2 = response.data.result.list
                })

            }
        },
        beforeMount:function(){
            let _this = this;
            axios.get('http://localhost:3000/getip?ip=' +  returnCitySN.cip).then(function (response) {
                console.log(response.data.result.city);
                axios.get('http://localhost:3000/getweather?city=' +  response.data.result.city).then(function (res) {
                    console.log(res.data.result.daily);
                    _this.list = res.data.result.daily
                })
            })
        }
    })


</script>
